header {
  background-color: rgb(70, 70, 70);
  color: white;
  font-size: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: white;
  margin: 15px;
}

.container {
  border: 40px solid rgb(70, 70, 70);
  flex: 1;
  padding: 35px;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.usermenu {
  display: flex;
  align-items: center;
}

.usermenu img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

h5 {
  padding: 0;
  margin: 0 15px 0 0;
}